{{ define "pageCSS" }}
  {{ $style := resources.Get "css/home.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="mainHeader">
  <div class="jobTitleDiv">
    <h1 class="jobTitleText">
      Senior Software Security Engineer at Qualcomm
    </h1>
  </div>

  <div class="alumnusDiv">
    <h1 class="alumnusText">
      Purdue University Alumnus
    </h1>
  </div>
</div>
{{ end }}
