{{ define "pageCSS" }}
  {{ $style := resources.Get "css/music.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }} {{ end }}
{{ define "main" }}

  {{ $whichItemsToDisplay := .Params.displayOption }}
  {{ $howToSortItems := .Params.sortMethod }}
  {{ $displayedArtistName := "" }}
  {{ $jsonFile := "albums.json" }}
  {{ $cardPartial := "albumcard.html" }}
  {{ $jsonData := "" }}

  <div class="dropdowns">
    <!-- Dropdowns -->
    <select id="displayOptionsDropdown" value="{{ $whichItemsToDisplay }}">
      <option>Artists</option>
      <option>Albums</option>
      <option disabled>Artist's Albums</option>
     </select>

     <select id="sortMethodsDropdown" value={{ $howToSortItems }}>
      <option>A-Z</option>
      <option>Z-A</option>
      <option>Random</option>
      <option {{ if eq $whichItemsToDisplay "Artists" }}disabled{{ end }}>Rating (High -> Low)</option>
      <option {{ if eq $whichItemsToDisplay "Artists" }}disabled{{ end }}>Rating (Low -> High)</option>
     </select>

    <!-- Back Button -->
      <a href="/music/artists" id="backButtonLink" style="display: none">
        <button class="backButton">
          &lt;- Back to Artists View
        </button>
      </a>
  </div>

  <!-- Cards -->
  <div id="musicCardGrid" class="musicCardGrid">
    {{ if eq .Params.displayOption "Albums" }}
      {{ $jsonData = getJSON "/static/music_data/albums.json" }}
      {{ range sort $jsonData "albumRating" "desc" }}
        {{ partial "albumcard.html" . "Albums" }}
      {{ end }}
    {{ else if eq .Params.displayOption "Artists" }}
      {{ $jsonData = getJSON "/static/music_data/artists.json" }}
      {{ range shuffle $jsonData }}
        {{ partial "artistcard.html" . "Artists" (dict "displayedArtistName" $displayedArtistName) }}
      {{ end }}
    {{ end }}

    <!-- Script for display changes (sorting, display type) -->
    {{ $js := resources.Get "js/music.js" | minify | fingerprint }}
    <script src={{ $js.RelPermalink }}></script>
  </div>
{{ end }}
