{{ define "pageCSS" }}
  {{ $style := resources.Get "css/music.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}

  {{ $whichItemsToDisplay := .Params.displayOption }}
  {{ $howToSortItems := .Params.sortMethod }}
  {{ $displayedArtistName := "" }}
  {{ with .Params.artistName }}
    {{ $displayedArtistName = . }}
  {{ end }}

  <div class="dropdownContainer">
    <div class="dropdowns">
      <!-- Display Option -->
      <select id="displayOptionsDropdown" value="{{ $whichItemsToDisplay }}">
        <option>Artists</option>
        <option selected>Albums</option>
        <option disabled>Artist's Albums</option>
       </select>

      <!-- Sort Method -->
     <select id="sortMethodsDropdown" value={{ $howToSortItems }}>
      <option>A-Z</option>
      <option>Z-A</option>
      <option>Random</option>
      <option selected {{ if eq $whichItemsToDisplay "Artists" }}disabled{{ end }}>Rating (High -> Low)</option>
      <option {{ if eq $whichItemsToDisplay "Artists" }}disabled{{ end }}>Rating (Low -> High)</option>
     </select>

      <!-- Back Button -->
      <button id="musicBackButton" style="opacity: 0">
        <a href="/music/artists/">
          &lt;- Back to Artists View
        </a>
      </button>
    </div>
  </div>

  <!-- Cards -->
  <div id="musicCardGrid" class="musicCardGrid">
    {{ if ne $displayedArtistName "" }}
      {{ with resources.Get (printf "/music_data/%s/albums.json" $displayedArtistName) }}
        {{ $jsonData := . | transform.Unmarshal }}
        {{ range $jsonData }}
          {{ partial "albumcard.html" . "Albums" }}
        {{ end }}
      {{ end }}
    {{ else if eq $whichItemsToDisplay "Albums" }}
      {{ with resources.Get "music_data/albums.json" }}
        {{ $jsonData := . | transform.Unmarshal }}
        {{ range sort $jsonData "albumRating" "desc" }}
          {{ partial "albumcard.html" . "Albums" }}
        {{ end }}
      {{ end }}
    {{ else if eq $whichItemsToDisplay "Artists" }}
      {{ with resources.Get "music_data/artists.json" }}
        {{ $jsonData := . | transform.Unmarshal }}
        {{ range shuffle $jsonData }}
          {{ partial "artistcard.html" . "Artists" (dict "displayedArtistName" $displayedArtistName) }}
        {{ end }}
      {{ end }}
    {{ end }}

    <!-- Script for display changes (sorting, display type) -->
    {{ $js := resources.Get "js/music.js" | minify | fingerprint }}
    <script src={{ $js.RelPermalink }}></script>
  </div>
{{ end }}
