{{ define "pageCSS" }}
  {{ $style := resources.Get "css/projects.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
  <h1>Posts</h1>
  <div class="posts">
    {{ range .Pages }}
      <li class="article">
        <!-- Header -->
        <div class="articleHeader">
          <h3>
            <a class="articleHeaderLink" href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h3>
          <p>{{ .Date.Format "January 2, 2006" }}</p>
        </div>

        <!-- Summary -->
        <div class="articleSummary">
        {{ .Params.description }}
        </div>

        <!-- Metadata -->
        <div class="articleMetadata">
          <em>
            <p>
              {{ with .Params.tags }}{{ delimit . ", " }}{{ end }}
            </p>
            <p>
              {{ .WordCount }} words, {{ .ReadingTime }} minute read.
            </p>
          </em>
        </div>
      </li>
    {{ end }}
  </div>
{{ end }}
