{{ define "pageCSS" }}
  {{ $style := resources.Get "css/projects.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "rssFeed" }}
  {{ with .OutputFormats.Get "rss" }}
    {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{ end }}
{{ end }}

{{ define "main" }}
  <div class="projectsHeader">
    <h1>
      Posts
    </h1>

    {{ with .OutputFormats.Get "rss" }}
      {{ printf `<a rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{ end }}

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="30" height="30" fill="none">
      <path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM96 136c0-13.3 10.7-24 24-24c137 0 248 111 248 248c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-110.5-89.5-200-200-200c-13.3 0-24-10.7-24-24zm0 96c0-13.3 10.7-24 24-24c83.9 0 152 68.1 152 152c0 13.3-10.7 24-24 24s-24-10.7-24-24c0-57.4-46.6-104-104-104c-13.3 0-24-10.7-24-24zm0 120a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z" fill="currentColor"/>
    </svg>

    </a>
  </div>

  <div class="projectsSearchBarContainer">
    <div class="projectsSearchBar">
      <input id="searchBar" type="text" style="color: black" class="searchBar" placeholder="Search Posts...">
      <button id="clearSearchBar" class="clearSearchBar">X</button>
    </div>
  </div>

  {{ partial "tagcloud.html" . }}

  <div class="posts" id="posts">
    {{ range .Pages }}
      <li class="article">

        <!-- Header -->
        <div class="articleHeader">
          <h3>
            <a class="articleHeaderLink" href="{{ .RelPermalink }}">{{ .Title }}</a>
          </h3>
          <p>{{ .Date.Format "January 2, 2006" }}</p>
        </div>

        <!-- Preview Photo -->
        {{ with .Params.preview }}
          <img class="articlePreview" src="{{ . | absURL }}"/>
        {{ end }}

        <!-- Summary -->
        <div class="articleSummary">
          {{ .Params.description }}
        </div>

        <!-- Metadata -->
        <div class="articleMetadata">
          <em>
            <div class="articleTagSelector">
            {{ with .Params.tags }}
              {{ range . }}
                <p class="tagLink">{{ . }}</p>
              {{ end }}
            {{ end }}
            </div>
            <div>
              <p>
                {{ .WordCount }} words, {{ .ReadingTime }} minute read.
              </p>
            </div>
          </em>
        </div>

      </li>
    {{ end }}
  </div>

  <!-- Script for searching posts -->
  {{ $js := resources.Get "js/projects.js" | minify | fingerprint }}
  <script src={{ $js.RelPermalink }}></script>

{{ end }}
