{{ define "pageCSS" }}
  {{ $style := resources.Get "css/resume.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "main" }}
  <div>

    <button class="resumeDownloadButton">
      <a href="https://raw.githubusercontent.com/cohenchris/resume/master/ChrisCohen_resume.pdf" download>
        Download Resume
      </a>
    </button>

    <img
      class="resume"
      src="/images/ChrisCohen_resume.webp"
      alt="My resume"
    />
  </div>
{{ end }}
