{{ define "pageCSS" }}
  {{ $style := resources.Get "css/single.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

  <div class="articleContainer">

    <!-- Back Button -->
    {{ if ne .Params.title "About" }}
      <div class="projectsBackButtonContainer">
        <button class="projectsBackButton">
          <a href="/projects/">
            &lt;- Back to Posts
          </a>
        </button>
      </div>
    {{ end }}

    <div class="articleBody">

      {{ if .Params.showPageTitle }}
        <h1 class="articleTitle">
          {{ .Title }}
        </h1>
      {{ end }}

      <div>
        {{ .Content }}
      </div>

    </div>

  </div>

{{ end }}
