{{ define "pageCSS" }}
  {{ $style := resources.Get "css/single.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
{{ end }}

{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}

  <div class="articleContainer">

    <!-- Back Button -->
    {{ if ne .Params.title "About" }}
    <a href="/projects/">
      <button class="projectsBackButton">
        &lt;- Back to Posts
      </button>
    </a>
    {{ end }}

    <div class="articleBody">
      {{ if .Params.showPageTitle }}
        <h1 class="articleTitle">
          {{ .Title }}
        </h1>
      {{ end }}

      <div>
        {{ .Content }}
      </div>
    </div>

  </div>

{{ end }}
