@font-face {
  font-family: "myFont";
  src:
    url("/fonts/font.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  font-size: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}

* {
  scrollbar-gutter: stable both-edges;
  box-sizing: border-box;
  font-family: "myFont";
  max-width: 800px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  color: white;
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  * {
    max-width: 100%;
  }

  .navbar {
    flex-direction: column;
  }

  .navBrand {
    text-align: center;
  }
}

.navBrand {
  list-style: none;
  font-size: 200%;
  width: 100%;
  color: black;
}

.navPage {
  list-style: none;
  color: black;
  font-size: 120%;
  margin-left: 20px;
}

.navLink {
  display: block;
  text-decoration: none;
  color: black;
}

.navLink:hover {
  cursor: pointer;
  color: grey;
}

select, button {
  border-radius: 0px;
  border: 1px solid black;
}
