@font-face {
  font-family: "Terminus";
  src: url("/fonts/terminus.ttf") format("truetype");
}

html,
body {
  font-size: 18px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
  font-family: "Terminus";
  max-width: 800px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  cursor: pointer;
  color: grey;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: white;
  margin-bottom: 50px;
}

.navBrand {
  justify-content: left;
  list-style: none;
  font-size: 200%;
  width: 100%;
  color: black;
}

.navLink {
  list-style: none;
  color: black;
  font-size: 100%;
  margin-right: 20px;
}
