h1 {
  text-align: center;
}

li {
  list-style-type: none;
  margin-top: 40px;
  border-bottom: 1px solid black;
}

.articleHeader {
  line-height: 1px;
  margin-bottom: 30px
}

.articleSummary {
  margin-bottom: 30px;
}

.articleMetadata {
  line-height: 1px;
  font-size: 15px;
}
