.posts {
  padding: 40px;
}

li {
  list-style-type: none;
  margin-bottom: 50px;
}

.articleHeader h3 {
  margin-bottom: 0px;
}

.articleHeaderLink {
  text-decoration: none;
  color: black;
}

.articleHeaderLink:hover{
  color: grey;
}

.articleHeader p {
  margin-top: 0px;
}

.articleSummary {
  margin-bottom: 30px;
}

.articleMetadata {
  line-height: 1px;
  font-size: 15px;
}

h1 {
  text-align: center;
}
