h1 {
  text-align: center;
}

.posts {
  padding-top: 10px;
  padding-right: 35px;
  padding-left: 35px;
  border-top: 1px solid black;
}

.article {
  list-style-type: none;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  margin-bottom: 30px;;
}

.article * {
  padding: 0;
}

.articleHeader h3 {
  font-size: 20px;
  margin-bottom: 0px;
}

.articleHeaderLink {
  text-decoration: none;
  color: black;
}

.articleHeaderLink:hover{
  color: grey;
}

.articleHeader p {
  margin-top: 0px;
}

.articlePreview {
  max-width: 500px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.articleSummary {
  margin-bottom: 30px;
}

.articleMetadata {
  margin-bottom: 0px;
  font-size: 15px;
}

.projectsSearchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.projectsSearchBar {
  position: relative;
  display: inline-block;
  border: 1px solid black;
}

.searchBar {
  width: 400px;
  height: 35px;
  border: none;
  outline: none;
}

.clearSearchBar {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 35px;
  border: none;
}

.clearSearchBar:hover {
  cursor: pointer;
}

.tagCloud {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 5px;
  margin-bottom: 30px;
}

.tagCloud p {
  text-decoration: none;
  color: black;
  margin: 0px;
}

.tagLink:hover {
  cursor: pointer;
  color: grey;
}

.articleTagSelector p {
  padding: 0;
  overflow: auto;
}

.articleTagSelector .tagLink {
  display: inline;
  font-weight: bold;
}

.articleTagSelector .tagLink:not(:last-child) {
  border-right: 1px solid black;
  margin-right: 5px; 
  padding-right: 10px;
  border-height: 50%;
}

@media (max-width: 800px) {
  .articleTagSelector .tagLink {
    border-left: none;
  }
}
