.articleTitle {
  text-align: center;             /* Center title */
  font-size: 35px;                /* Increase size of title */
  font-weight: normal;            /* Headers are bolded by default, don't want that */
  padding-bottom: 20px;           /* Dividing padding to give the title space to breathe */
}

div.highlight pre {
  white-space: pre-wrap;          /* Ensures that code blocks wrap when width is too small */
}

